#logo {
  float: left;
}

#header_btns {
  float: right;
}

.open {
  background-color: #9FF781;
}

.closed {
  background-color: #F78181;
}

.relocated {
  background-color: #F3F781;
}

#districtName {
background : #F2F2F2;
padding : 1em;
width : 100%;
}