.container {
	padding-bottom : 5em;
}

#logo {
  float: left;
}

#header_btns {
  float: right;
}

.open {
  background-color: #9FF781;
}

.closed {
  background-color: #F78181;
}

.relocated {
  background-color: #F3F781;
}


#schoolInfo {
	
}

#newNeed fieldset {
	margin-bottom : 2em;
}

#districtName, 
#schoolName {
margin-bottom : 2em;
border: 1px solid #D4D4D4;
border-top : 0;	
background : #F2F2F2;
}

#schoolName {
background : #FAFAFA;
}

.displayboxHead {
	background-color : #ccc;

    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 40px;
}

#schoolHead.displayboxHead {
	border-bottom : 1px solid #ccc;
}


#details {
	margin-top : 3em;
}


.right {
float: right;
	margin : 1em;
}

#schoolName .row-fluid, 
#districtName .row-fluid  {
padding : 1em;
}

#schoolName #details {
padding : 0;
}

 

#schoolName #details h4 {
padding : .5em;
}

#schoolName #details h3 {
padding-left : .3em;
padding-bottom : .25em;
}

.displayboxHead h4.pull-left {
padding-left : .5em;
}

.displayboxHead .pull-right {
padding : .5em;
}

.infobox-heading {
padding : .5em 0 .5em .5em !important;
}

.infobox-heading h3 {
margin : 0;
}